---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Me';

const finished = true;
const identity = {
  firstName: 'Michael',
  country: 'Ukraine/Poland',
  occupation: 'Javascript Developer',
  hobbies: ['go-karting', 'snowboarding', 'guitar'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {identity.hobbies.map((hobbie) => <li>{hobbie}</li>)}
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill-item">{skill}</li>)}
  </ul>
</BaseLayout>
